<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bruce.designer"
    android:versionCode="1"
    android:versionName="1.0.0" >
    <!-- 版本号说明，格式为：1.x.x，发布版本的最后一位需为奇数，测试版本中为偶数 --> 
 	<!-- 线上版本还需屏蔽Log的Debug -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
	
	<!-- 桌面快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE"/>
    <!-- for baidu stat -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
	<!-- for shared sdk -->
	<!-- 
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	 -->
	<!-- for shared sdk end -->


    <application
        android:name="com.bruce.designer.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- 
        baiduPush  渠道名字（不能使用全数字）
        渠道表：
        jinwanr_android（金玩儿官网） 
        jinwanr_android_yyb（应用宝）
        jinwanr_android_xiaomi（小米）
        jinwanr_android_qh60（奇虎360）
        待添加...
         -->
        <meta-data  android:name="BaiduMobAd_CHANNEL"  android:value="jinwanr_android" />
        <!-- baiduStat 您从百度网站获取的 APP	KEY  -->
        <meta-data android:name="BaiduMobAd_STAT_ID" android:value="540d890b4c" /> 
         <!-- 微信开放平台的appid，可使用登录、分享功能 -->
        <meta-data android:name="WeixinOpen_APP_ID" android:value="wxf8aa7055983d73e4" />
        
        <!-- baiduPush 在百度开发者中心查询应用的API Key -->
        <meta-data android:name="baidu_push_api_key" android:value="BnuBegfG0xLaQ8mGm6KlEbLl" />

		<!--
        <activity 
            android:name="com.bruce.designer.activity.Lesson_10"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->

        <activity
            android:name="com.bruce.designer.activity.Activity_Splash"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bruce.designer.activity.Activity_Login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bruce.designer.activity.Activity_Login_Bind"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bruce.designer.activity.Activity_Main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bruce.designer.activity.Activity_AlbumInfo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bruce.designer.activity.Activity_UserHome"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bruce.designer.activity.Activity_UserInfo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bruce.designer.activity.Activity_CropAvatar"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.bruce.designer.activity.Activity_UserFollows"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bruce.designer.activity.Activity_UserFans"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bruce.designer.activity.login.Activity_Login"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.bruce.designer.activity.Activity_MyFavorite"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.bruce.designer.activity.Activity_Settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bruce.designer.activity.Activity_Settings_Push"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bruce.designer.activity.Activity_AboutUs"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bruce.designer.activity.Activity_MessageList"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bruce.designer.activity.Activity_MessageChat"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bruce.designer.activity.Activity_Test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bruce.designer.activity.Activity_ImageBrowser"
            android:screenOrientation="portrait" >
        </activity>
        
        <receiver android:name="com.bruce.designer.broadcast.DesignerReceiver">
            <intent-filter>
                <action android:name="com.bruce.designer.action" />
            </intent-filter>
        </receiver>
        
        <!-- baidu Push Config -->
     	<!-- push应用定义消息receiver声明 -->
        <receiver android:name="com.bruce.designer.push.BaiduPushMessageReceiver">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
        
        <!-- push必须的receviver和service声明 -->
        <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package" />
            </intent-filter>                   
        </receiver>
        <service 
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1"  >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <!-- push结束 -->   
        
        <!--微信回调(微信登录、分享操作等)-->
		<activity
		  android:name=".wxapi.WXEntryActivity"
		  android:theme="@android:style/Theme.Translucent.NoTitleBar"
		  android:configChanges="keyboardHidden|orientation|screenSize"
		  android:exported="true"
		  android:screenOrientation="portrait" />
        
        <!-- shareSdk start 
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        微信分享回调
		<activity
		  android:name="cn.sharesdk.wxapi.WXEntryActivity"
		  android:theme="@android:style/Theme.Translucent.NoTitleBar"
		  android:configChanges="keyboardHidden|orientation|screenSize"
		  android:exported="true"
		  android:screenOrientation="portrait" />
        shareSdk end -->
        
    </application>

</manifest>